<div class="main">
  <div class="container">
    <div class="form-heading">ユーザ更新</div>
    <div class="form">
      <div class="form-body">
        <% if @user.errors.full_messages %>
          <% @user.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        <%= form_tag("/users/#{@user.id}/update",{multipart:true}) do %>
          <p>名前</p>
          <input name="name" value="<%= @name %>">
          <p>グループ</p>
          <select name="group" value="<%= @group %>">
            <option value="taiyo" <%= "selected" if @user.group == "taiyo" %> >たいよう</option>
            <option value="sora" <%= "selected" if @user.group == "sora" %>>そら</option>
            <option value="umi" <%= "selected" if @user.group == "umi" %>>うみ</option>
            <option value="futaba" <%= "selected" if @user.group == "futaba" %>>ふたば</option>
            <option value="soyokaze" <%= "selected" if @user.group == "soyokaze" %>>そよかぜ</option>
            <option value="daichi" <%= "selected" if @user.group == "daichi" %>>だいち</option>
          </select>
          <p>メールアドレス</p>
          <input name="email" value="<%= @email %>">
          <p>パスワード</p>
          <input name="password" type="password" value="<%= @password %>">
          <p>画像</p>
          <input name="image" type="file">
          <input type="submit" value="更新">
        <% end %>
      </div>
    </div>
  </div>
</div>