<section class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="heading">どれをかりる？</div>
    <ul class="user-tabs">
      <div class="row mr-0 ml-0">
        <div class="col-6 pr-0 pl-0">
          <li class="<%= "active" if @status=="putback" %>" ><%= link_to("かりられる","/books/putback/index") %></li>
        </div>
        <div class="col-6 pr-0 pl-0">
          <li class="<%= "active" if @status=="rental" %>" ><%= link_to("かしだしちゅう","/books/rental/index") %></li>
        </div>
      </div>
    </ul>
    <% @books.each do |book| %>
      <div class="users-index-item">
        <div class="user-left">
          <% if book.image_url %>
            <%= image_tag("book_images/#{book.image_url}") %>
          <% end %>
        </div>
        <div class="user-right">
          <div class="user-right-left">
            <%= link_to(book.name, "/books/#{book.id}") %>
            <% if @current_user.admin == true && @status == "rental" %>
              <div class="user-right-bottom">
                <p>貸出先：<%= book.rentaler %></p>
                <p>返却予定日：<%= book.putback_date %></p>
              </div>
            <% elsif @status == "rental" %>
              <div class="user-right-bottom">
                <p>返却予定日：<%= book.putback_date %></p>
              </div>
            <% end %>
          </div>
            <% if @current_user.admin == true %>
              <div class="user-right-right">
                <%= link_to("編集", "/books/#{book.id}/update") %>
                <%= link_to("削除", "/books/#{book.id}/delete",{method: "post"}) %>
              </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
