<div class="main book-show">
  <div class="container">
    <h1 class="books-heading">どんなほん？</h1>
    <div class="book">
      <div class="books-show-item">
        <div class="book-left">
          <img src="<%= "/book_images/#{@book.image_url}" %>">
        </div>
        <div class="book-right">
          <div class="book-title">
            <h2><%= @book.name %></h2>
          </div>
          <div class="book-content">
            <p><%= @book.content %></p>
          </div>
          <div class="book-footer">  
            <% if @current_user.admin == false %>
              <%= form_tag("/books/#{@book.id}/rental") do %>
                <input type="submit" value="かりる">
              <% end %>
              <%= form_tag("/books/#{@book.id}/putback") do %>
                <input type="submit" value="かえす">
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>