<!DOCTYPE html>
<html>
  <head>
    <title>LittleLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("LittleLibrary","/") %>
      </div>
      <% if @current_user && @current_user.admin == true %>
        <ul class="header-menus">
          <li>
            <%= link_to("ユーザ登録","/users/signup") %>
          </li>
          <li>
            <%= link_to("ユーザ一覧","/users/taiyo/index") %>
          </li>
          <li>
            <%= link_to("本の登録","/books/signup") %>
          </li>
          <li>
            <%= link_to("本の一覧","/books/putback/index") %>
          </li>
          <li>
            <%= link_to("ログアウト","/logout", {method: "post"}) %>
          </li>
        </ul>
      <% elsif @current_user && @current_user.admin != true%>
        <ul class="header-menus">
          <li>
            <%= link_to(@current_user.name,"/users/#{@current_user.id}/update") %>
          </li>
          <li>
            <%= link_to("りようりれき","/users/#{@current_user.id}/putback") %>
          </li>
          <li>
            <%= link_to("かりる","/books/putback/index") %>
          </li>
          <li>
            <%= link_to("かえす","/users/#{@current_user.id}/rental") %>
          </li>
          <li>
            <%= link_to("ログアウト","/logout", {method: "post"}) %>
          </li>
        </ul>
      <% else %>
        <ul class="header-menus">
          <li>
            <%= link_to("ログイン","/login") %>
          </li>
          <li>
            <%= link_to("ユーザ登録","/users/signup") %>
          </li>
        </ul>
      <% end %>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
